
@{
    ViewBag.Title = "Mensajes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">Mensajes</h1>
<h2 style="text-align:center">@ViewBag.mensaje</h2>

<div>
    @Html.ActionLink("Retornar", "Tienda")
</div>

