<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="~/images/Banner-001.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Bienvenidos a <br> Green Plant</strong></h1>
                        <p class="m-b-40">Descubre lo mejor en plantas, <br> recuerda...Piensa en verde.</p>
                        <p><a class="btn hvr-hover" href="~/ECommerce/Tienda">Ir a Comprar</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/images/Banner-002.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Bienvenidos a <br> Green Plant</strong></h1>
                        <p class="m-b-40">Descubre lo mejor en plantas, <br> recuerda...Piensa en verde.</p>
                        <p><a class="btn hvr-hover" href="~/ECommerce/Tienda" >Ir a Comprar</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/images/Banner-003.png" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Bienvenidos a <br> Green Plant</strong></h1>
                        <p class="m-b-40">Descubre lo mejor en plantas, <br> recuerda...Piensa en verde.</p>
                        <p><a class="btn hvr-hover" href="~/ECommerce/Tienda">Ir a Comprar</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->


